body {
    margin: 0;
    padding: 0
}

main {
    padding: 16px
}

footer {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #99cc66;
}

img {
    height: 200px
}

nav {
    border-bottom: 2px solid green;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #E64A19;
    box-shadow: 0 2px 4px
}

.four-by-two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
}

a {
    text-decoration: none;
}

.nav a{
    color: white
}

#head {
    color: black;
    font-family: fantasy;
    text-shadow: 2px 4px 3px #33691E
}

.h3 a{
    color: #558B2F;
}

tr:nth-child(even) {
    background-color: lightgray
}

nav a:hover {
    color: forestgreen
}

div a:hover {
    color: orange
}
